@font-face {
  font-family: "Annie Use Your Telescope";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/annie-use-your-telescope.woff2") format("woff2");
}

@font-face {
  font-family: "Architects Daughter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/architects-daughter.woff2") format("woff2");
}

@font-face {
  font-family: "Cedarville Cursive";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/cedarville-cursive.woff2") format("woff2");
}

@font-face {
  font-family: "Crafty Girls";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/crafty-girls.woff2") format("woff2");
}

@font-face {
  font-family: "Give You Glory";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/give-you-glory.woff2") format("woff2");
}

@font-face {
  font-family: "Handlee";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/handlee.woff2") format("woff2");
}

@font-face {
  font-family: "Mansalva";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/mansalva.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Mono";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("/fonts/noto-sans-mono.woff2") format("woff2");
}

@font-face {
  font-family: "Pangolin";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/pangolin.woff2") format("woff2");
}

@font-face {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/press-start-2p.woff2") format("woff2");
}
